#header {
	background-color: #ffffff;
}

.col-md-4 {
	display:none
}
.new-logos {display:block}
.new-logos > a{display:none}
.new-logos #NDD-logo {display:block}
.new-logos #NDD-logo .direct-debit{margin-left:50px}

.FooterArea {
	background-color: #000000;
	box-shadow: 0px 1000px 0px 1000px #000000;

	#NCC-Footer {
		display: none;
	}

	#NNC-Footer{
		display: block;
	}
	
}