#header {
	background-color: #d60e51;
}

.col-md-4 {
	#ncc-logo {
		display: none;
	}

  	#StandOut-logo {
		display: block
	}
}

.FooterArea {
	background-color: #d60e51;
	box-shadow: 0px 1000px 0px 1000px #d60e51;

	#NCC-Footer {
		display: none;
	}

	#StandOut-Footer {
		display: block;
		color: white;
	}

}