#header {
	background-color: #00a5db;
}

.col-md-4 {
	max-width: 1000px;
	min-width: 500px;
	#ncc-logo {
		display: inline-block;
	}
	#Superfast-logo{
		display: inline-block;
	}
}

.FooterArea {
	background-color: #00a5db;
	box-shadow: 0px 1000px 0px 1000px #00a5db;

	#NCC-Footer {
		display: none;
	}

	#Superfast-Footer {
		display: block;
		color: #FFFFFF;

		img{
			max-width: 300px;
		}
		a{
			text-decoration:underline;
			color: #FFFFFF;
			font-weight: bold;
		}
	}
}