#header {
	background-color: #ffffff;
}

.col-md-4 {
	#ncc-logo {
		display: none;
	}
	#Wsus-logo{
		display: block;
	}
}
.FooterArea {
	background-color: #000000;
	box-shadow: 0px 1000px 0px 1000px #000000;

	#NCC-Footer {
		display: none;
	}

	#Wsus-Footer {
		display: block;
		color: #FFFFFF;

		img{
			max-width: 300px;
		}
		a{
			text-decoration:underline;
			color: #FFFFFF;
			font-weight: bold;
		}
	}
}